@import "menu";

@mixin underlineAnimation($color) {
  &::after {
    content: "";
    display: block;
    border-bottom: solid 1px $color;
    width: 0;
    transition: width 0.3s;
  }
  &:hover:after {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  color: white;
  min-height: 100%;
  overflow: inherit;
  &.show {
    overflow: hidden;
  }
}
a {
  color: white;
  text-decoration: none;
}

#about {
  .container {
    display: flex;
    width: 50vw;
    height: 100%;
    margin: auto;
    align-items: center;
    overflow: hidden;

    .boxes {
      margin: auto;
      padding-bottom: 20vh;
      position: relative;
      top: 20vh;
      .box {
        display: flex;
        margin-bottom: 10vh;
        .col {
          flex: 1;
          p {
            letter-spacing: 2px;
            font-size: 15px;
            a {
              display: inline-block;
              z-index: 99;
              &:hover {
                cursor: pointer;
                @include underlineAnimation(white);
              }
            }
          }
        }
        .col-a {
          font-weight: 700;
        }
        .col-b {
          font-weight: 300;
        }
      }

      .profile {
        padding-bottom: 10vh;
        h1 {
          margin: 0;
          padding: 14px 0;
          font-size: 2rem;
          text-transform: uppercase;
          letter-spacing: 1rem;
        }
        p {
          line-height: 30px;
        }
      }
    }
  }
}

// Footer
footer {
  padding-top: 10vh;
  font-size: 12px;
  letter-spacing: 1px;
  color: #aaaaaa;
  text-align: center;
  a {
    color: #aaaaaa;
  }
}

// Responsive
/* Smartphones (portrait) ----------- */
@media (max-width: 426px) {
  #about {
    .container {
      width: 70vw;
      .boxes {
        .box {
          display: flex;
          flex-direction: column;
          margin-bottom: 8vh;
          .col,
          .col-a,
          .col-b {
            p {
              font-size: 15px;
            }
          }
        }

        .profile {
          margin-bottom: 5vh;
          h3 {
            font-size: 1rem;
            letter-spacing: 0;
          }
          h1 {
            font-size: 2rem;
            padding-bottom: 5vh;
          }
          p {
            line-height: 20px;
          }
        }
      }
    }
  }
}
