header .icon {
  position: fixed;
  top: 2vh;
  left: 2vw;
  z-index: 100;
}

header .icon a {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header .icon a:hover {
  opacity: 0.6;
}

header .icon.show a {
  color: #000;
}

header .top-right {
  width: 100%;
  height: 10%;
  position: fixed;
  z-index: 99;
}

header .top-right .top-right-content {
  position: absolute;
  top: 1vh;
  right: 2vw;
  padding: 0;
  margin: 0;
}

header .top-right .top-right-content .top-right-item {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 10px 4px;
}

header .top-right .top-right-content .top-right-item a {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header .top-right .top-right-content .top-right-item a::after {
  content: "";
  display: block;
  border-bottom: solid 1px white;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

header .top-right .top-right-content .top-right-item a:hover:after {
  width: 100%;
}

header .top-right.show .top-right-content .top-right-item a {
  color: black;
}

header .top-right.show .top-right-content .top-right-item a::after {
  content: "";
  display: block;
  border-bottom: solid 1px black;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

header .top-right.show .top-right-content .top-right-item a:hover:after {
  width: 100%;
}

header #menu-btn {
  position: fixed;
  top: 49vh;
  left: 2vw;
  z-index: 99;
  cursor: pointer;
  visibility: visible;
}

header #menu-btn .btn-line {
  background-color: white;
  width: 25px;
  height: 2px;
  margin: 0 0 6px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header #menu-btn.close .btn-line {
  background-color: black;
}

header #menu-btn.close .top-line {
  -webkit-transform: rotate(405deg) translate(6px, 6px);
          transform: rotate(405deg) translate(6px, 6px);
  background-color: black;
}

header #menu-btn.close .middle-line {
  opacity: 0;
}

header #menu-btn.close .bottom-line {
  -webkit-transform: rotate(-405deg) translate(5px, -5px);
          transform: rotate(-405deg) translate(5px, -5px);
}

header .nav-links-container {
  position: fixed;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .nav-links-container .nav-links {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 2vh;
  right: 2vw;
  z-index: 99;
}

header .nav-links-container .nav-links .nav-item {
  display: inline;
  padding: 15px;
}

header .nav-links-container .nav-links .nav-item a {
  display: inline-block;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1px;
}

header .nav-links-container.show {
  opacity: 1;
  visibility: visible;
}

header .overlay-nav {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background: white;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .overlay-nav.show {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

header .overlay-nav #projects-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

header .overlay-nav footer {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

header .overlay-nav #projects-list {
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .overlay-nav #projects-list .boxes {
  width: 80vw;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header .overlay-nav #projects-list .boxes .box {
  margin-bottom: 10vh;
}

header .overlay-nav #projects-list .boxes .box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .overlay-nav #projects-list .boxes .box a .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

header .overlay-nav #projects-list .boxes .box a .col-video video {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .overlay-nav #projects-list .boxes .box a .col-video video:hover {
  cursor: pointer;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

header .overlay-nav #projects-list .boxes .box a .col-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .overlay-nav #projects-list .boxes .box a .col-text h2 {
  color: #000;
  font-size: 2vh;
  font-weight: 500;
  letter-spacing: 1px;
  margin: auto 0;
  padding-left: 2vh;
}

header footer {
  width: 100%;
  height: 50px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #aaaaaa;
  text-align: center;
  clear: both;
}

header footer a {
  color: #aaaaaa;
}

/* Smartphones (portrait) ----------- */
@media (max-width: 426px) {
  header .icon {
    visibility: hidden;
  }
  header .top-right {
    visibility: hidden;
  }
  header #menu-btn {
    visibility: visible;
    position: fixed;
    top: 3vh;
    left: 5vw;
  }
}

@media (min-width: 427px) {
  header .nav-links-container.show {
    opacity: 0;
    visibility: hidden;
  }
  header .overlay-nav #projects-list .boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 60vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .overlay-nav #projects-list .boxes .box {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  header .overlay-nav #projects-list .boxes .box a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .overlay-nav #projects-list .boxes .box a .col-text h2 {
    margin: 0;
    padding-left: 0;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  color: white;
  min-height: 100%;
  overflow: inherit;
}

body.show {
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

#about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 100%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

#about .container .boxes {
  margin: auto;
  padding-bottom: 20vh;
  position: relative;
  top: 20vh;
}

#about .container .boxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10vh;
}

#about .container .boxes .box .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#about .container .boxes .box .col p {
  letter-spacing: 2px;
  font-size: 15px;
}

#about .container .boxes .box .col p a {
  display: inline-block;
  z-index: 99;
}

#about .container .boxes .box .col p a:hover {
  cursor: pointer;
}

#about .container .boxes .box .col p a:hover::after {
  content: "";
  display: block;
  border-bottom: solid 1px white;
  width: 0;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

#about .container .boxes .box .col p a:hover:hover:after {
  width: 100%;
}

#about .container .boxes .box .col-a {
  font-weight: 700;
}

#about .container .boxes .box .col-b {
  font-weight: 300;
}

#about .container .boxes .profile {
  padding-bottom: 10vh;
}

#about .container .boxes .profile h1 {
  margin: 0;
  padding: 14px 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

#about .container .boxes .profile p {
  line-height: 30px;
}

footer {
  padding-top: 10vh;
  font-size: 12px;
  letter-spacing: 1px;
  color: #aaaaaa;
  text-align: center;
}

footer a {
  color: #aaaaaa;
}

/* Smartphones (portrait) ----------- */
@media (max-width: 426px) {
  #about .container {
    width: 70vw;
  }
  #about .container .boxes .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8vh;
  }
  #about .container .boxes .box .col p,
  #about .container .boxes .box .col-a p,
  #about .container .boxes .box .col-b p {
    font-size: 15px;
  }
  #about .container .boxes .profile {
    margin-bottom: 5vh;
  }
  #about .container .boxes .profile h3 {
    font-size: 1rem;
    letter-spacing: 0;
  }
  #about .container .boxes .profile h1 {
    font-size: 2rem;
    padding-bottom: 5vh;
  }
  #about .container .boxes .profile p {
    line-height: 20px;
  }
}
/*# sourceMappingURL=about.css.map */